@import "tailwindcss";

.logo {
  height: 32px;
}
.text-large {
  font-size: 5rem !important;
}

.borders {
  border-bottom: 2px solid rgba(114, 114, 114, 0.3) !important;
  span {
    padding-bottom: 1.25rem;
  }
}

.icon-hover:hover {
  fill: rgb(65, 183, 219) !important;
}

.text-light-grey {
  color: #b8b8b8 !important;
}

.rounded-50 {
  border-radius: 50px !important;
}

.outline-none {
  outline: none !important;
}

.px-6 {
  padding: 0 5rem !important;
}

.pt-6 {
  padding-top: 5rem !important;
}

.px-7 {
  padding: 0 10rem !important;
}

.hover-link {
  cursor: pointer;
}

.hover-link:hover {
  text-decoration: underline;
}

.justify-self-center {
  justify-self: center;
}

.fs-7 {
  font-size: 0.8rem;
}

img {
  border-radius: 0.75rem;
}

p {
  margin-bottom: 0px !important;
}

@media (max-width: 768px) {
  .px-6 {
    padding: 0 1rem !important;
  }
  .px-7 {
    padding: 0 1rem !important;
  }
}
